{
  "extends": "airbnb-base",
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "class-methods-use-this": "off",
    "comma-dangle": ["error", "never"],
    "default-case": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-param-reassign": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "padded-blocks": "off",
    "prefer-template": "off",
    "linebreak-style": ["error", "windows"],
    "no-console": "off",
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1}],
    "lines-between-class-members": ["error", "always"],
    "padding-line-between-statements": [
        "error",
        { "blankLine": "always", "prev": "*", "next": "function" },
        { "blankLine": "always", "prev": "block-like", "next": "*" }
    ]
  }
}
