{
  "extends": "airbnb-base",
  "rules": {
    "class-methods-use-this": "off",
    "comma-dangle": ["error", "never"],
    "default-case": "off",
    "no-param-reassign": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-underscore-dangle": "off",
    "padded-blocks": "off",
    "prefer-template": "off"
  }
}
